
## Build files 
xcuserdata/
.build/
DerivedData/
Kwarchart/Kwarchart.xcodeproj/project.xcworkspace/xcuserdata/JirehCordova.xcuserdatad/UserInterfaceState.xcuserstate
Kwarchart/Kwarchart.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Kwarchart/Kwarchart.xcodeproj/project.xcworkspace/xcuserdata/JirehCordova.xcuserdatad/UserInterfaceState.xcuserstate
Kwarchart/Kwarchart.xcodeproj/xcuserdata/JirehCordova.xcuserdatad/xcschemes/xcschememanagement.plist
Kwarchart-Example/Kwarchart-Example.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Kwarchart-Example/Kwarchart-Example.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Kwarchart-Example/Kwarchart-Example.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
