
## Build files 
xcuserdata/
.build/
DerivedData/
Kwarchart/Kwarchart.xcodeproj/project.xcworkspace/xcuserdata/JirehCordova.xcuserdatad/UserInterfaceState.xcuserstate
Kwarchart/Kwarchart.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Kwarchart/Kwarchart.xcodeproj/project.xcworkspace/xcuserdata/JirehCordova.xcuserdatad/UserInterfaceState.xcuserstate
Kwarchart/Kwarchart.xcodeproj/xcuserdata/JirehCordova.xcuserdatad/xcschemes/xcschememanagement.plist
Kwarchart-Example/Kwarchart-Example.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Kwarchart-Example/Kwarchart-Example.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
kwarchart.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
kwarchart.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
kwarchart.xcodeproj/xcshareddata/xcschemes/kwarchart-Package.xcscheme

## Github store
.DS_Store

## Fastlane
fastlane/report.xml
fastlane/test_output/report.junit
fastlane/test_output/report.html
